export(generate_JointModelEq, mice.impute.hecknorm,mice.impute.hecknorm2step, mice.impute.heckprob, MNARargument)
importFrom("stats", "as.formula", "coef", "dnorm", "pnorm", "rbinom","rchisq", "rnorm", "runif", "summary.glm","var")
import("mice")
importFrom("GJRM","copulaSampleSel","SemiParBIV")
importFrom("sampleSelection","heckit2fit","linearPredictors")
importFrom("mvtnorm","rmvnorm")
importFrom("pbivnorm","pbivnorm")